python-exchangeratesapi
ipython>=7.0.0
jupyter-core>=4.6.3
jupyter-console>=5.3.0
numpy>=1.15.4
pandas>=1.0.0
plotly>=2.7.0
python-dateutil>=2.7.3
pytz>=2018.4
requests>=2.19.1
tornado>=5.1
matplotlib>=2.2.2
pytest>=4.3.1
redis
dash==1.17.0
apscheduler==3.6.3
mkdocs
